front-js/**/dist/
front-js/**/temp/
front-js/**/node_modules/
front-js/ui/bower_components/
front-js/**/.idea/workspace.xml

NeoNftProject/NeoNftProject/ChainTestNet/
NeoNftProject/.vs/NeoNftProject/v15/Server
NeoNftProject/NeoNftProject/obj/
NeoNftProject/NeoNftProject/bin/

NeoNftProject/NeoNftProject/obj/x64/Debug/netcoreapp2.1/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
NeoNftProject/NeoNftProject/obj/x64/Debug/netcoreapp2.1/Razor/Views/Shared/_Layout.g.cshtml.cs
NeoNftProject/NeoNftProject/obj/x64/Debug/netcoreapp2.1/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
NeoNftProject/NeoNftProject/obj/x64/Debug/netcoreapp2.1/Razor/Views/Shared/Error.g.cshtml.cs
NeoNftProject/NeoNftProject/obj/x64/Debug/netcoreapp2.1/Razor/Views/Home/Privacy.g.cshtml.cs
NeoNftProject/NeoNftProject/obj/x64/Debug/netcoreapp2.1/Razor/Views/Home/Index.g.cshtml.cs
NeoNftProject/NeoNftProject/obj/x64/Debug/netcoreapp2.1/Razor/Views/Home/Contact.g.cshtml.cs
NeoNftProject/NeoNftProject/obj/x64/Debug/netcoreapp2.1/Razor/Views/Home/About.g.cshtml.cs
NeoNftProject/NeoNftProject/obj/x64/Debug/netcoreapp2.1/NeoNftProject.pdb
NeoNftProject/NeoNftProject/obj/x64/Debug/netcoreapp2.1/NeoNftProject.dll
NeoNftProject/NeoNftProject/obj/x64/Debug/netcoreapp2.1/NeoNftProject.csprojResolveAssemblyReference.cache
NeoNftProject/NeoNftProject/obj/x64/Debug/netcoreapp2.1/NeoNftProject.csproj.FileListAbsolute.txt
NeoNftProject/NeoNftProject/obj/x64/Debug/netcoreapp2.1/NeoNftProject.csproj.CoreCompileInputs.cache
NeoNftProject/NeoNftProject/obj/x64/Debug/netcoreapp2.1/NeoNftProject.assets.cache
NeoNftProject/NeoNftProject/obj/x64/Debug/netcoreapp2.1/NeoNftProject.Views.pdb
NeoNftProject/NeoNftProject/obj/x64/Debug/netcoreapp2.1/NeoNftProject.Views.dll
NeoNftProject/NeoNftProject/obj/project.assets.json
NeoNftProject/NeoNftProject/obj/NeoNftProject.csproj.nuget.g.targets
NeoNftProject/NeoNftProject/obj/NeoNftProject.csproj.nuget.g.props
NeoNftProject/NeoNftProject/obj/NeoNftProject.csproj.nuget.cache
NeoNftProject/NeoNftProject/obj/x64/Debug/netcoreapp2.1/Razor/Views/_ViewStart.g.cshtml.cs
NeoNftProject/NeoNftProject/obj/x64/Debug/netcoreapp2.1/Razor/Views/_ViewImports.g.cshtml.cs
NeoNftProject/NeoNftProject/bin/x64/Debug/netcoreapp2.1/NeoNftProject.runtimeconfig.json
NeoNftProject/NeoNftProject/bin/x64/Debug/netcoreapp2.1/NeoNftProject.runtimeconfig.dev.json
NeoNftProject/NeoNftProject/bin/x64/Debug/netcoreapp2.1/NeoNftProject.pdb
NeoNftProject/NeoNftProject/bin/x64/Debug/netcoreapp2.1/NeoNftProject.dll
NeoNftProject/NeoNftProject/bin/x64/Debug/netcoreapp2.1/NeoNftProject.deps.json
NeoNftProject/NeoNftProject/bin/x64/Debug/netcoreapp2.1/NeoNftProject.Views.pdb
NeoNftProject/NeoNftProject/bin/x64/Debug/netcoreapp2.1/NeoNftProject.Views.dll
NeoNftProject/NeoNftProject/ChainTestNet/MANIFEST-000002
NeoNftProject/NeoNftProject/ChainTestNet/LOG
NeoNftProject/NeoNftProject/ChainTestNet/000003.log

NeoNftProject/NeoNftProject/.vs
NeoNftProject/NeoNftProject/ChainTestNet
NeoNftProject/NeoNftProject/bin
NeoNftProject/NeoNftProject/obj
NeoNftProject/NeoNftProject/ChainTestNet/CURRENT
front-js/ui/.idea/vcs.xml
front-js/ui/.idea/ui.iml
front-js/ui/.idea/modules.xml
front-js/ui/.idea/misc.xml
front-js/ui/package-lock.json
NeoNftProject/.vs/NeoNftProject/v15/Server/sqlite3/storage.ide-shm
NeoNftProject/.vs/NeoNftProject/v15/.suo
