front-js/**/dist/
front-js/**/temp/
front-js/**/node_modules/
front-js/ui/bower_components/
front-js/**/.idea/workspace.xml
NeoNftProject/NeoNftProject/.vs
NeoNftProject/NeoNftProject/ChainTestNet
NeoNftProject/NeoNftProject/bin
NeoNftProject/NeoNftProject/obj
NeoNftProject/.vs/NeoNftProject/v15/Server/sqlite3/storage.ide-wal
NeoNftProject/.vs/NeoNftProject/v15/Server/sqlite3/storage.ide-shm
NeoNftProject/.vs/NeoNftProject/v15/Server/sqlite3/storage.ide
